$color-black: #000000;
$color-bg: #050505;
$color-white: #ffffff;
$color-white-text: #FDFDFD;
$color-orange: #D85706;
$color-placeholder-text: rgba(253, 253, 253, 0.6);



$fonts-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";
$Montserrat-Medium: "Montserrat-Medium", $fonts-default;
$Montserrat-SemiBold: "Montserrat-SemiBold", $fonts-default;
$Montserrat-Bold: "Montserrat-Bold", $fonts-default;




$container-width: 124rem;
$min-width: 32rem;


$laptop-width: 1179px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-width-small: 375px;